platform: linux

image_resource:
  type: docker-image
  source:
    repository: node
    tag: latest

inputs:
  - name: cicd-tests
  - name: dependency-cache

run:
  path: cicd-tests/ci/scripts/run_tests.sh
