.align-center {
  align-items: center;
  justify-content: center;
}

.align-center-row-horizontal {
  justify-content: center;
}

.app-logo{

  float: left;
  width: 5vmin;
  border: 2px solid white;
  margin: 2vmin;/*height: 5vmin;
  width: 5vmin;
  margin: 2vmin;*/
}

.button-colors-primary {
  background-color: #f96302;
  color: #ffffff;
}

.button-colors-secondary {
  background-color: #ffffff;
  color: #f96302;
}

.button-slim {
  height: 7vmin;
  padding: 1vmin;
  width: 10vw;
}

.button-placement{
  margin: 10vmin;
}

.col {
  display: flex;
  flex-direction: column;
}

.footer {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 10vh;
  width: 100vw;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
  background-color: #eeeeee;
}
.topnav {
  margin: 10px 10px .5vw;
  align-items: center;
  background-color: #444444;
  color: #ffffff;
  display: flex;
  height: 70px;
  width: 97.5vw;
}

.topnav a{
  color: #ffffff;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}
.topnav a:hover{
  background-color: #444444;
  color: #E86B2D;
}
.topnav a:active{
  background-color:#444444;
  color: #7f7f7f;
}
.push{
  margin-left: auto;
}
.from-end{
  margin-right: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #eeeeee;
}

.page-content {
  padding: 2vmin;
  flex: 1;
}

.route {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
}

.row {
  display: flex;
  flex-direction: row;
}
hr {
  display: block;
  height: 1.5px;
  border: 0;
  background-color: #ccc;
  margin: 4px 4px 2em;
  border-left: 10em solid #E86B2D;

}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

h1 {
  margin: 10px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 45px;
  letter-spacing: -0.01em;
  line-height: normal;
}
h2{
  margin: 0;
  padding: 30px;
  font-family: 'Open Sans';
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
h3{
  margin: 5px;
  font-family: 'Open Sans';
  font-size: 14px;
}

h4{
  font-family: 'Open Sans';
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: normal;
  margin:0px;
}

.box{
  background-color: #ffffff;
  margin: 10px 5vw 0 5vw ;
  top-margin: 0;
  box-shadow: 0px 2px 2px darkgray !important;
  min-width: 400px;
  max-width: 1000px;
}
@media only screen and (min-width: 1150px) {
  .box {
  margin: 10px auto 0;
  width: 1000px;
  }
}
.center{
  margin: auto;
}

table, th, td{
  border: 1px solid #dddddd;
  margin: 20px;
  margin-top: 30px;
  color: #444444;

}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 30px;
  border-bottom: 3px solid #dddddd;
}
td{
  padding:3px;
}

button {
  border-radius: 5px;
  border-style: double;
  font-size: 3vmin;
  height: 10vmin;
  padding: 2vmin;
  width: 15vw;
}

